html {
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
}

.wrap {
    padding: 1em;
}

.hidden {
    display: none;
}

#menu {
    background: #666;
    color:#fff;
}
#menu a {
    height: 2em;
    line-height: 2em;
    color:#fff;
}
#menu li.uk-active a {
    color: #666;
}
#menu li:hover a {
    color: #666;
    background: #ccc;
}

#progressbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}